:root {
  --primary: 88, 170, 230;
  --primary-10: 41, 35, 30;
  --secondary: 67, 56, 48;
  --neutral: 240, 240, 240;
  --neutral-black: 20, 20, 20;

  --hover-btn: 119, 106, 98;

  --main-gray: 27, 27, 27;


  /* Height variables */
  --nav-bar-height-mobile: 50px;
}
